.hero {
    overflow: hidden;
    height: auto;
}
.hero-body {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 1rem 5rem 1rem 5rem;
column-gap: 6rem;
}
.left-hero {
    flex: 1;
    position: relative;
    z-index: 10;
}
.left-hero>h1 {
    color: #268282;
    font-weight: 700;
    font-size: 4rem;
    margin-right: 4rem;
   margin-bottom: 0;
}
.left-hero>p {
    color: #268282;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-right: 6rem;
}
.left-hero>button {
    color: white;
    background-color: #268282;
    border: none;
    outline: none;
    padding: .7rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 9px;
}
.left-hero>button:hover {
    opacity: .7;
    transition: all .4s ease-in;
}
.right-hero {
    flex: 1;
    position: relative;
}
.right-hero>img:nth-of-type(1) {
position: absolute;

top: -12rem;
left: -23rem;
z-index: 0;
}
.right-hero>img:nth-of-type(2) {
 width: 500px;
  position: relative;
 transform: translateY(-4.5rem);
z-index: 10;
}

@media screen and (max-width:1168px) {
    .hero-body {
        padding: 1rem 2rem;
        flex-direction: column-reverse;
        justify-content: center;
      
    }
    .left-hero {
        justify-content: center;
        display: flex;
        flex-direction: column;
       
    }
    .left-hero>h1 {
        margin-right: 0rem;
        text-align: center;
        font-size: xx-large;
    }
    .left-hero>p {
        margin-right: 0rem;
        text-align: center;
    }
.left-hero>button {
    width: fit-content;
    margin: auto;
}
    .right-hero {
        display: flex;
        justify-content: center;
    }
    .right-hero>img:nth-of-type(1) {
        left: 0rem;
       
        }
       
}